body {
  margin: 0%;
}

header {
    .klee-one-regular {
        font-family: "Klee One", serif;
        font-weight: 400;
        font-style: normal;
      }
    
    background-color: blue;
    display: flex;
    padding: 6px;
    color: white;
    justify-content: space-between;
    align-items: center;

      
}

.tema {
  text-align: right;
}

.textarea {
  display: flex;
  margin: 1%;
  width: 95%;
}